.swiper-slide > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 7px 1px #00000029;
    padding: 40px;
}

.button-item{
    gap:15px
}

.button-item button{
    width: 85px;
    background:#684df4;
    color:#ffffff;
    border:none;
    font-weight: 700;
    transition:1s;
}

.button-item button:hover{
    transform: scale(1.2);
}

.page{
    height: 100vh;
    background: #684df4;
}

.cabecalho__pesquisar input{
    padding: 10px;
}

.cabecalho__pesquisar button{
    background:#684df4;
    border:none;
    color:#fff;
    padding: 12px;
}


@media screen and (max-width: 991px){
    .wrapper-desktop{
        flex-direction: column;
        gap:20px
    }

    .links-button ul{
        justify-content: center;
        padding: 0;
    }
}